:root {
	--primary-color: #5680E9;
	--secondary-color: #84CEEB;
	--sub-color1: #5AB9EA;
	--sub-color2: #C1C8E4;
	--highlight: #8860D0;
	--pastel-background: #96a5e1;
}

$tab-color: rgba(var(--primary-color), 0.5); //rgb(121, 121, 121);

.chat-tab {
	font-size: 20px;
	background-color: $tab-color;
	color: rgb(111, 111, 111);
	font-family: 'Fredoka One', cursive;
	height: 100%;
}

#chat-container {
	font-family: 'Fredoka One', cursive;

	margin-top: 20px;
	display: flex;
	width: 100%;
	height: 100%;

	.sidebar {
		width: 20%;
		padding: 10px;
		color: black;
		border-radius: 5px;
		background-color: var(--pastel-background);
		box-shadow: 0px 0px 5px 0px rgb(0 0 0)
	}
	.title {
		font-size: 20px;
	}

	.body-header {
		background-color:rgba(0, 0, 0, 0.195);
		font-size: 20px;
		padding: 20px;
		height: 30px;
		line-height: 30px;
		color: black;
		display: flex;
	}

	.right-sidebar {
		z-index: 1;
		float: right;
		border-top-right-radius: 0 !important;
	}

	.left-sidebar {
		float: left;
		position: relative;
		border-top-left-radius: 0 !important;

		.title {
			font-size: 20px;
		}

		.bottom {
			height:40%;
			position: absolute;
			top: 50%;
		}
		.add-icon {
			width: 90%;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			margin: auto;
			background: var(--sub-color2);
			border-radius: 3px;

			.add-button {
				cursor: pointer;
			}

		}

	}


	ul {
		list-style: none;
		padding-left: 0px;
		font-size: smaller;
		cursor: pointer;
		height: auto;
	}

	li:hover {
		border-radius: 3px;
		box-shadow: none;
		color: var(--primary-color);
		text-decoration: none;
		// background: var(--secondary-color);
		cursor: pointer;
	}

	.chat-body {
		float: none;
		width: 100%;
		padding-bottom: 2%;
		height: 60%;
		// background-color: rgba(62, 62, 74, 0.76);
		// background-color: var(--secondary-color);

		form input {
			position: absolute;
			bottom: 0;
			font-family: 'Fredoka One', cursive;
			font-size: 20px;
			color: white;
			background: rgba($color: rgb(135, 135, 135), $alpha: 0.5);
			border-radius: 10px;
			box-sizing: border-box;
			bottom: 0;
			width: 100%;
			height: 50px;
			margin: 0 !important;
		}
	}

	.user-list {
		font-size: 18px;

		ul {
			padding-left: 0px;
			font-size: smaller;
			cursor: pointer;
		}
	}

	button {
		font-family: 'Fredoka One', cursive;
		display: inline-block;
		width: auto;
		border-radius: 30px;
		font-size: small;
		text-align: center;
		cursor: pointer;
		padding: 5px 5px;
		background: var(--primary-color);
		color: white;
		transition: .3s;
		// border: 2px solid var(--primary-color);
		margin-left: 5px;
	}

	button:hover {
		box-shadow: none;
		color: var(--primary-color);
		background: var(--secondary-color);
		cursor: pointer;
	}
}

.button-style{


		font-family: 'Fredoka One', cursive;
		display: inline-block;
		width: auto;
		border-radius: 30px;
		font-size: small;
		text-align: center;
		cursor: pointer;
		padding: 5px 5px;
		background: var(--primary-color);
		color: white;
		transition: .3s;
		// border: 2px solid var(--primary-color);
		margin-left: 5px;

}
.chat-messages {
	height: calc(100vh - 270px);
	vertical-align: top;
	overflow-y: scroll;
	flex: 1;
	display: flex;
	flex-direction: column-reverse;
	reverse {
		overflow: auto;
		display: flex;
		flex-direction: column-reverse;
	}
}

.__wrap {
	font-size: 20px;
	line-height: normal;
	// color: rgb(111, 106, 106);
	color: black;
	background-color: rgba($color: rgb(80, 165, 174), $alpha: 0.3);
	max-width: 100%;
	border-radius: 5px;
	padding: 20px;
	margin: 10px;
	padding-top: 0;
	display: flexbox;
	word-wrap: break-word;

	.message-info {
		color: rgb(107, 107, 107);
		// font-size: 15px;
		display: flex;
		align-items: center;
	}
	
}

.timestamp {
	font-size: 10px;
	margin-left: 50px;
}

.user-avatar {
	margin-right: 10px;
	align-self: center;
	object-fit: cover;
	height: 30px;
	width: 30px;
	border-radius: 50%;
}

.chat-form-popup {
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.chat-form-inner {
	background-color: white;
	border-radius: 5px;
	color: black;
	border-color: var(--sub-color1);
	width: 500px;
	height: 400px;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
	z-index: 1;

	#channel-input {
		font-family: 'Fredoka One', cursive;
		font-size: 15px;
		color: rgb(111, 106, 106);
		padding: 0px 0px 0px 15px;
		width: 300px;
		height: 40px;
		background: rgba($color: lightgray, $alpha: 0.5);
		border-radius: 5px;
		border: none;
		bottom: 0;
		text-align: center;
	}
}

.close-icon {
	float: right;
	padding: 10px;
	cursor: pointer;
}

.clickable-menu {
	margin-top: -15px !important;
	background-color: rgba(0, 0, 0, 0.70) !important;


}

.Chat-onglets {
	margin: 0 0 10px;
	border-radius: 0px !important;
}

.DM-profile {
	height: 75px;
	width: auto;
	display: flex;
	justify-content: center;
	// justify-content;


	a {
		color: #000;
		text-align: center;
		font-size: larger;
		margin-left: 20px;
	}
}

.menu {

	a,
	li {
		background-image: linear-gradient(to left,
				#000 50%,
				#147196 50%,
				#147196) !important;
	}

	ul {
		overflow-y: hidden !important;

		list-style: none;
		padding: 0;
		margin: 0;

		&>li {
			padding: 6px 10px;

			&:hover {
				background-color: rgba(0, 0, 0, 0.20);
				cursor: pointer;
			}
		}
	}
}

.allpoeple {
	font-size:  35px;
}

.cursor-onsomoene {
	cursor: w-resize;
}

.config-icon {
	float: right;
	cursor: pointer;
}

.announce-text {
	font-size: 15px;
	color: black;
	padding-left: 150px;
}

.create-chan-error {
	color: #B33A3A;
	font-size: smaller;
}