.home-title {
    font-size:xx-large;
    text-align: center;
    position: relative;
    width: 100%;
    padding-top: 2%;
    display: inline-block;
}

.game-desc {
    padding-top: 10px;
    padding-left: 2%;
    display: flex;
    flex-direction: row;
    .game-text {
        text-align: left;
        position: relative;
        width: 100%;
        padding-top: 2%;
        padding-left: 1%;
        display: inline-block;
        span {
            font-size:x-large;
            display: unset;
            text-align: left;
        }
    }
}

.contributors {
    padding-top: 10px;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex-direction: row;
    width:96%;
    .contributor {
        display:flex;
        flex-direction: column;
        background-color: rgb(134, 168, 202);
        background-size: cover;
        border-radius: 5%;
        width:100%;
        margin: .5%;
        padding: 5px;
        .avatar {
            width: 50%;
            align-self: center;
            border-radius: 50%;
            height: unset;
            margin: unset;
        }
        .text{
            text-align: left;
            padding: 20px 10px 10px;
        }
    }
}

.scroll{
    overflow: scroll;
    height:90%;
}

h2 {
    text-transform: uppercase;
    letter-spacing: .1em;
    padding-top: 3%;
    padding-bottom: 1%;
    font-size: 0;
    
    &>em, &>strong {
      font-size: 0;
      text-align: center;
      padding: 0 1em;
      position: relative;
      display: block;
  
      &:before, &:after {
        font-size: 1rem;
        content: '';
        display: inline-block;
        vertical-align: center;
        width: 15%;
        max-width: 7em;
        height: 3px;
        background: #000;
        border-radius: 50%;
        position: relative;
        top: -.3em;
      }
      
      &>strong, &>em {
        font: normal 3.5rem/1 "Pinyon Script", serif;
        font-style: normal;
        text-transform: none;
        letter-spacing: 0;
        max-width: 70%;
        display: inline-block;
        vertical-align: middle;
        padding: 0 .2em 0;
      }
    }
    
  }