.all {
    width: 100%;
    height: 100%;
}

.avatar-manu {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    margin: auto;
    align-self: center;
    overflow: hidden;
    .logo {
        width: 100%;
        height: 100%;
    }
}

.profile-header {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-image: url(https://cdn.intra.42.fr/coalition/cover/305/téléchargement__2_.png);
    background-size: cover;
    background-position: center;

    .info-container {
        display: flex;
        width: 100%;
        height: 100%;
        padding-bottom: 50px;

        .left-part {
            width: 300px;
            align-self: center;
            display: flex;
            flex-direction: column;
            align-items: center;

            .avatar {
                height: 130px;
                width: 130px;
                border-radius: 50%;
                margin: auto;
                align-self: center;
                overflow: hidden;

                .logo {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        
        .info-header {
            width: 100%;
            
            .stat-header {
                height: 20%;
                padding: 10px;
                margin: 10px 20px 0 0;
                flex: 1;
                display: flex;
                justify-content: space-around;
                background-color: rgba(32, 32, 38, 0.85);
                border-radius: 4px;
            }

            .block {
                display: flex;
                margin-top: 10px;
                height: 60%;

                .block {
                    height: 80%;
                    background-color: rgba(32, 32, 38, 0.85);

                    margin: 0 20px 0 0;
                    border-radius: 4px;
                    flex: 1;
                    display: flex;
                    justify-content: space-around;
                    text-align: center;
                    background-color: rgba(32, 32, 38, 0.85);
                    border-radius: 4px;

                    .color-status.Offline {
                        color: #747f8d;
                    }

                    .color-status.Online {
                        color: #43b581;
                    }

                    .color-status.InGame {
                        color: #f04747;
                    }
                }
            }

            span {
                font-family: 'Fredoka One', cursive;
                color: white;
                align-self: center;
            }

            .stat {
                display: flex;
                align-self: center;
                flex-direction: column;

                .win {
                    color: #41b94b;
                }

                .lose {
                    color: #e05068;
                }

                .winrate {
                    color: #808080;
                }
            }

            .rank {
                display: flex;
                align-self: center;
                flex-direction: column;

                .rank {
                    color: #a5a5a5;
                }

                .rank.bronze {
                    color: #b3782d;
                }

                .rank.silver {
                    color: #c0c0c0;
                }

                .rank.gold {
                    color: #ffd700;
                }

                .rank.platinum {
                    color: #00bfff;
                }

                .rank.diamond {
                    color: #00ced1;
                }
            }

        }
    }

    .plus {
        font-size: 15px;
    }

    .search {
        width: 50%;
        height: 60px;
        border-radius: 20px;
        background-color: rgba(32, 32, 38, 0.82);
        border-radius: 60px;
        margin: 30px auto 0 auto;

        .icon-search {
            width: 60px;
            height: 60px;
            display: flex;
            cursor: pointer;
            position: absolute;
            align-items: center;
            justify-content: center;
            font-size: xxx-large;
        }

        .input {
            left: 60px;
            width: 300px;
            height: 60px;
            display: flex;
            position: relative;
            align-items: center;
            margin-right: auto;

            input {
                color: cornsilk;
                background: border-box;
                top: 0;
                width: 100%;
                height: 100%;
                border: none;
                outline: none;
                font-size: 20px;
                padding: 10px 0;
                align-items: center;
            }
        }
    }
}

.width_50 {
    width: 50%;
}

.white {
    color: white;
}

.separate-line {
    border: none;
    height: 4px;
    border-radius: 10px;
    background-color: #918888;
    width: 80%;
    margin: 0 auto;
    transform: translateY(2px);
    box-shadow: 0 1px 0 #918888;
  }


.friends-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.friend-block {
    border-radius: 4.5px;
    overflow: hidden;
    text-decoration: none;
    background-color: #ccced9;
    border: 1px solid rgb(151, 139, 139);
    margin-bottom: 10px;
    margin-left: 10px;
    width: 230px;
    display: flex;
    align-items: flex-start;
}

.friend-img {
    border-right: 0.2px solid rgb(0, 0, 0);
    height: 75px;
    width: 75px;
    margin-right: 5px;
}

.friend-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.friend-info {
    font-family: 'Fredoka One', cursive;
    display: flex;
    flex-direction: column;
    align-items: left;
    align-items: flex-start
}

.friend-name {
    margin-top: 5px;
    text-align: left;
    margin-bottom: 2px;
}

.color-status.Offline {
    color: #747f8d;
}

.color-status.Online {
    color: #43b581;
}

.color-status.InGame {
    color: #e34141;
}

.friend-actions {
    display: flex;
    margin-left: auto;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
}

.scrollWesh {
    height:40vh;
    overflow-y: auto;
}

.accept-button,
.refuse-button {
    padding: 5px 8px;
    background-color: #43b581;
    color: #fff;
    border: 0;
    height: 50%;
    // border-radius: 5px;
    // font-size: 15px;
    cursor: pointer;
}

.accept-button {
    font-size: medium;
}

.refuse-button {
    background-color: #ff6565;
}

.reqButton {
    font-family: 'Fredoka One', cursive;
    border-radius: 5px;
    background-color: #34495E;
    border-color: #34495e;
    padding: 10px;
    text-align: center;

    label,
    a {
        text-decoration: auto;
        display: block;
        width: 100%;
        height: 100%;
        color: white;
        line-height: 190px;
        font-size: x-large;
    }

    --hover: #5e768fb4;
}

.onglets {
    height: auto;
    display: flex;
    border-radius: 5px;

    button {
        width: 100%;
        border: 1px solid #534f4f;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 10px 20px 5px;

        a {
            font-size: 24px;
            width: 100%;
            height: 100%;
        }
    }

    .not-selected {
        opacity: 0.7;
    }

    .pointer {
        font-family: 'Fredoka One', cursive;
        cursor: pointer;
    }

    button:not(.not-selected) {
        background-color: #8860D0;
        color: #FFFFFF;
    }

    button:not(.not-selected):hover {
        background-color: #8860D0;
    }
}

.not-selected {
    background-color: #FFFFFF;
}

.match-list {
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding-top: 1%;
}

.match-block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4.5px;
    overflow: hidden;
    text-decoration: none;
    background: linear-gradient(to right, #41B94B, #E05068);
    border: 1px solid rgb(151, 139, 139);
    margin-bottom: 10px;
    margin-left: 10px;
    width: 90%;
    display: flex;
    align-items: flex-start;
}

.winner-img {
    border-right: 0.2px solid rgb(0, 0, 0);
    height: 75px;
    width: 75px;
}

.winner-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.loser-img {
    border-left: 0.2px solid rgb(0, 0, 0);
    height: 75px;
    width: 75px;
}

.loser-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.match-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    margin: 0 10px;
    flex-direction: column;
    width: 100px;
}

.match-name {
    font-family: "Fredoka One", cursive;
}

.match-elo {
    font-size: 14px;
}

.match-score {
    font-family: "Fredoka One", cursive;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 124px;
    height: 70px;
    border-radius: 50%;
    font-size: 36px;
}

.match-score-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.winner {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.loser {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}