// #queue-container {
//     button {
//         position: fixed; /* or absolute */
//         top: 50%;
//         left: 50%;
//     }
// }

// .center {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 200px;
// }

.test {
  border: none;
  color: black;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;

  a{
        text-decoration: none;
    }
}

.cool {
    text-decoration: none;
    color: white;
}

.custom-popup{
	z-index: 2;

    position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
    
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .avatar-inpopup {
	z-index: 2;

        height: 50px;
        padding: 10px 0 10px 0;

        .avatar {
            height: 50px !important;
            width: 50px !important;

            &:hover {
                background-color: rgba(0, 0, 0, 0.5) !important;
            }

        }
    }
.custom-popup-inner {
	z-index: 2;

    font-family: 'Fredoka One', cursive;
    border-radius: 5px;
    font-size: 35px;
    background-color: white;
    width: 60%;
    height: 400px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 100;

    .sub-element {
        padding: 20px 0 0 0;
        font-size: 25px;
    }
}

.close-icon {
	float: right;
	padding: 10px;
	cursor: pointer;
    width: 20px;
}

label {
    font-size: 20px;
    font-family: 'Fredoka One', cursive;
}
.plus-circle {
    font-size: 155%;
    padding: 0 0 0 5px;
}

.people-list {
    width: auto !important;
    max-width: 125px;
    height: auto;
    border-radius: 1px;
    overflow: hidden;
    margin-top: -60px !important;
    left: 65% !important;
     
    a {
		background-image: linear-gradient(to left,
		var(--sub-color1) 50%,
		white 50%,
		white) !important;
	}
    ul {
      &>li {
        font-size: medium;
      }
    }
}