#chat-container {

	display: flex;
	width: 100%;
	height: 100%;

	.font-link {
		font-family: 'Fredoka One', cursive;
	}
	
	.chat-list {
		float: left;
		width: 20%;
		background-color: #c1c8e4;
		padding: 20px;
	}

	.chat-list ul {
		list-style-type: none;
		padding: 0;
	}
	
	.chat-messages {
		float:none;
		width: 90%;
		padding: 20px;
		background-color: rgb(211, 211, 211);
		overflow-y: scroll;

		transform: rotate(180deg);
		direction: rtl;
		height: calc(100vh - 50px);

		.__message {
			font-size: 20px;
			color: black;
			background-color: rgb(160, 220, 226);
			max-width: 700px;
			position: relative;
			border-radius: 15px;
			padding: 10px;
			margin: 20px 0px;
			transform: rotate(180deg);
			direction: ltr;
		}
	}

	.chat-input {
		display: flex;
		max-width: 900px;
		margin: 0 auto;
		align-items: center;
		
		input { //message input box
			// margin-top: 100%;
			margin: 30px 0;
			width: 90%;
			border: 1px solid rgb(164, 161, 161);
			padding: 10px;
			text-align: left;
			border-radius: 15px;
			transform: rotate(180deg);
			direction: ltr;
		}

		.button {
			display: inline-block;
			width: auto;
			border-radius: 15px;
			font-size: 15pt;
			text-align: center;
			cursor: pointer;
			padding: 8px 8px;
			background: #ff7f7f;
			color: #ffffff; //font color
			transition: .3s;
			border: 2px solid #ff7f7f;
			margin-left: 5px;
		  }
		  
		  .button:hover {
			box-shadow: none;
			color: #ff7f7f;
			background: #ffffff;
		  }
	}


	.user-list {
		float: right;
		width: 20%;
		background-color: lightblue;
		padding: 10px;
	}

}
