body {
    margin: 0;
}
  
  

@import "pages/chat.scss";
@import "pages/connection.scss";
@import "pages/game.scss";
@import "pages/profile.scss";
@import "pages/queue.scss";
@import "pages/home.scss";
@import "pages/404.scss";

@import "components/nav.scss";
@import "./styles.scss";