.mynavbar {

    height: 50px;
    background: #F7F7F7;
    border-bottom: 1px solid #555;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 30px;

    // .logo {
    //     margin-left: 80px;
    // }

    .navbar-right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 100px;

        a {
            text-decoration: none;
            color: rgb(14, 34, 14);

            &:hover {
                text-decoration: none;
                color: rgba(14, 34, 14, 0.8);
            }
        }
    }
}





// .logo h {
//     font-weight: 500;
//     cursor: pointer;
// }


