// #queue-container {
//     button {
//         position: fixed; /* or absolute */
//         top: 50%;
//         left: 50%;
//     }
// }

// .center {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 200px;
// }

.test {
  border: none;
  color: black;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;

  a{
        text-decoration: none;
    }
}

.cool {
    color: white;
}

