.container {

    position: fixed;
    width: 100%;
    height: 100%;
	background-color: #c1c8e4;
    background-size: 300% 300%;
    background-image: linear-gradient(
          -45deg, 
          rgba(193,200,228,1) 0%, 
          rgba(195,208,248,1) 25%, 
          rgb(150, 182, 219) 51%, 
          rgb(173, 222, 233) 100%
    );  
    animation: AnimateBG 20s ease infinite;
  }
  
  @keyframes AnimateBG { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }

.centreText {
    text-align: center;
}


@-webkit-keyframes button {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

@keyframes button {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

h1 {
    font-size: 150px;
}
.litle-avatar{
  height: 75px;
  width: 75px;
  margin: initial !important;
}
.hover-style {
  a, li  {
    
		background-image: linear-gradient(to left,
			#000 50%,
			#84CEEB 50%,
			#84CEEB);
		background-size: 200% 100%;
		background-position: 100%;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		transition: all 0.2s ease-in-out;
		text-decoration: none;
  
		&:before {
		  content: '';
		  background: #84CEEB;
		  display: block;
		  position: absolute;
		  bottom: -3px;
		  left: 0;
		  width: 0;
		  height: 3px;
		}
  
		&:hover {
		  background-position: 0;
		}
	}
  li {

		transition: all 0.55s ease-in-out !important;
  }

}